body{
    margin-left: 15%;
    margin-right: 15%;
}
.conteiner{
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: 1fr;
}
.header{
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        font-style: normal;
        text-decoration-line: underline;
        color: #070F18;
}
#menu{
    margin-top: 49px;
    text-align: right;
}
#menu ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
#menu ul li{
    margin-right: 20px;
    display: inline-block;
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        color: #070F18;
}
a{
    color: #070F18;
}

#btncta{
    background: #1F7CFF;
    color: #FFFFFF;
    font-family: Poppins;
        text-align: center;
        line-height: 24px;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 40px;
}
#headercta p{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    margin-bottom: 50px;
}
#headercta h1{
    font-family: Poppins;
        font-size: 55px;
        font-weight: 700;
        line-height: 83px;
        letter-spacing: 0em;
        text-align: left;
}
.header-img{
    margin-left: 42px;
}
.headerPhoto{
    border-radius: 80px;
    width: 100%;
}

.headerLogo{
    text-align: center;
    align-content: center;
        display: flex;
        width: fit-content;
    margin-left: 80px;
}
.headerClientText h2{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #070F18;
}
#headerClients{
    margin-top: 50px;
    margin-bottom: 50px;
}
.red{
    color: #F75C4E;
    margin-top: 70px;
    font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
}
.black{
    font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
    color: black;
    margin-top: 6px;
}
#services p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        color: #575455;
}
#services{
    text-align: center;
}
.textCenter{
    text-align: center;
}
#services .textCenter h3{
    font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        color:#070F18;
}
#services .textCenter p{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
}
#contactImg img{
    width: 100%;
    margin-top: 68px;
    margin-bottom: 80px;
    border-radius: 50px;
}
#contactForm h3{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #F75C4E;
        margin: 100px 0px 6px 80px;
}
#contactForm h1{
    font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin: 0px 0px 6px 80px;
        
}
#contactForm p{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #575455;
        margin: 6px 0px 40px 80px;
    }
    #contactForm form input{
        height: 28px;
        width: 406px;
        border-radius: 50px;
        background-color: #F5F6FB;
        margin: 0px 6px 20px 76px;
        border: 0;
        padding: 15px 35px 15px 35px;
    }
    #contactForm form button{
        height: 48px;
        width: 180px;
        border-radius: 50px;
        border: 0;
        background-color: #1F7CFF;
        color: #F5F6FB;
        margin: 0px 0 0px 76px;
    }
    #contactForm form button:hover{
        cursor: pointer;
    }
    #portfolioText h3{
        font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #F75C4E;
    }
    #portfolioText h1{
        font-family: Poppins;
            font-size: 36px;
            font-weight: 700;
            line-height: 54px;
            letter-spacing: 0em;
            text-align: left;

    }
    .portfolioImg{
        width: 100%;
        padding: 15px;
        margin-bottom: 100px;
    }